DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/database?schema=public"
SESSION_SECRET="replace-with-a-base64-secret"
DEMO_MODE="true"
APP_URL="http://localhost:3000"

SMTP_HOST="smtp.seuprovedor.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="seu-usuario@seudominio.com"
SMTP_PASS="sua-senha-ou-token"
SMTP_FROM="Caixa Food <no-reply@seudominio.com>"
